# creating data frame

In [ ]:
import pandas as pd
import numpy as np

# finding data type

In [8]:
series=pd.Series([1,2,3,4,5,6,7,8,9])
print(series.dtype)

int64

# converting to list

In [9]:
print(series.tolist())

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# creating null data frame

In [12]:
DF=pd.DataFrame()
print(DF)

Empty DataFrame
Columns: []
Index: []

# data frame of scores

In [13]:
scores=[['maths',50,'B+'],['social',55,'B+'],['english',56,'B+'],['hindi',80,'A+'],['malayalam',70,'A'],\
        ['IT',100,'A+'],['phy',35,'A+'],['chem',25,'B+'],['bio',36,'A+'],['sanskrit',40,'A+']]
my_sereies=pd.DataFrame(scores,columns=['subjects','scores','grades'])
print(my_sereies)

    subjects  scores grades
0      maths      50     B+
1     social      55     B+
2    english      56     B+
3      hindi      80     A+
4  malayalam      70      A
5         IT     100     A+
6        phy      35     A+
7       chem      25     B+
8        bio      36     A+
9   sanskrit      40     A+

# data frame of skill rating

In [14]:
marks=[['language','excellent',5],['interpersonal','good',4],['leadership','good',4]]
GOPIKA=pd.DataFrame(marks,columns=['skills','review','rate'])
print(GOPIKA)

          skills     review  rate
0       language  excellent     5
1  interpersonal       good     4
2     leadership       good     4

# data frame using dictionary

In [16]:
marks={
'subjects':['maths','science','social'],
'scores':[98,97,96]
}
fahima=pd.DataFrame(marks)
print(fahima)

  subjects  scores
0    maths      98
1  science      97
2   social      96

# data frame using list of dictionaries

In [19]:
marks=[
    {'subject':'maths','score':66},
{'subject':'history','score':65},
{'subject':'geography','score':23},
{'subject':'phylosophy','score':25},
]
fahina=pd.DataFrame(marks)
print(fahina)

      subject  score
0       maths     66
1     history     65
2   geography     23
3  phylosophy     25